<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key="StampTitleText" value="ДОКУМЕНТ ПОДПИСАН ЭЛЕКТРОННОЙ ПОДПИСЬЮ"/>
		<add key="StampTitleInfo" value="СВЕДЕНИЯ О СЕРТИФИКАТЕ ЭП"/>
		<add key="StampHeaderName" value="Владелец"/>
		<add key="StampHeaderNumberCertificate" value="Номер сертификата"/>
		<add key="StampHeaderDate" value="Срок действия"/>
		<add key="StampMargin" value="0,15"/>
		<add key="StampFontSize" value="10"/>
		
		
		<add key="FooterTitleText" value="Документ подписан электронной подписью"/>
		<add key="FooterHeaderName" value="Владелец"/>
		<add key="FooterHeaderNumberCertificate" value="Номер"/>
		<add key="FooterHeaderDate" value="Срок действия"/>
		<add key="FooterMargin" value="0,15"/>
		<add key="FooterFontSize" value="8"/>

		<add key="PathTrueTypeFont" value="D:\\nunito.ttf"/>
		<add key="NameTrueTypeFont" value="nunito"/>
		<add key="LanguageCode" value="ru-RU"/>
	</appSettings>
</configuration>